h1 {
  color: #0000ff;
  text-align: center;
}
h2 {
  text-align: left;
  text-decoration: overline;
}
p{
  font-family: sans-serif;
  text-align: justify;
}
ul{
  font-size: 20px;
  line-height: 30px;
}
h4 {
  font-family: cursive;
  text-decoration: underline;
  text-indent: 15pt;
  line-height: 2px;
}
img {
  width: 360px;
}
